<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="navbar">
    <div>🚀 DevOps Store</div>
    <div>
        <a href="/">Home</a>
        <a href="/products">Products</a>
        <a href="/cart">Cart</a>
    </div>
</div>

<div style="text-align:center; padding:50px; color:white;">
    <h2>Your Cart</h2>
    <h3>Total: ₹<span id="total">0</span></h3>
</div>

<script>
    document.getElementById("total").innerText =
        localStorage.getItem("cartTotal") || 0;
</script>

</body>
</html>
