<!DOCTYPE html>
<html>
<head>
    <title>Cart</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<header class="navbar">
    <div class="logo">🚀 DevOps Store</div>
    <nav>
        <a href="/">Home</a>
        <a href="/products">Products</a>
    </nav>
</header>

<div class="cart-page">
    <h2>Your Cart</h2>
    <h3>Total: ₹<span id="total">0</span></h3>
</div>

<script>
    document.getElementById("total").innerText =
        localStorage.getItem("cartTotal") || 0;
</script>

</body>
</html>
