<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="navbar">
    <div>🚀 DevOps Store</div>
    <div>
        <a href="/">Home</a>
        <a href="/products">Products</a>
        <a href="/cart">Cart</a>
    </div>
</div>

<div style="text-align:center; padding:100px; color:white;">
    <h1>Welcome to DevOps Store</h1>
    <p>Powered by AWS + Jenkins + Docker + Kubernetes</p>
    <a href="/products"><button>Shop Now</button></a>
</div>

</body>
</html>
